bin/Debug/net6.0/appsettings.Development.json
bin/Debug/net6.0/appsettings.json
bin/Debug/net6.0/Humanizer.dll
bin/Debug/net6.0/Microsoft.Data.Sqlite.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Abstractions.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Design.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.InMemory.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Relational.dll
bin/Debug/net6.0/Microsoft.EntityFrameworkCore.Sqlite.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Caching.Memory.dll
bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyInjection.dll
bin/Debug/net6.0/Microsoft.Extensions.DependencyModel.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.Abstractions.dll
bin/Debug/net6.0/Microsoft.Extensions.Logging.dll
bin/Debug/net6.0/Microsoft.Extensions.Options.dll
bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
bin/Debug/net6.0/Microsoft.OpenApi.dll
bin/Debug/net6.0/Mono.TextTemplating.dll
bin/Debug/net6.0/new_projectAPI
bin/Debug/net6.0/new_projectAPI.deps.json
bin/Debug/net6.0/new_projectAPI.dll
bin/Debug/net6.0/new_projectAPI.pdb
bin/Debug/net6.0/new_projectAPI.runtimeconfig.json
bin/Debug/net6.0/SQLitePCLRaw.batteries_v2.dll
bin/Debug/net6.0/SQLitePCLRaw.core.dll
bin/Debug/net6.0/SQLitePCLRaw.provider.e_sqlite3.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
bin/Debug/net6.0/System.CodeDom.dll
bin/Debug/net6.0/System.Text.Encodings.Web.dll
bin/Debug/net6.0/System.Text.Json.dll
bin/Debug/net6.0/runtimes/alpine-arm/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/alpine-arm64/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/alpine-x64/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/browser/lib/net6.0/System.Text.Encodings.Web.dll
bin/Debug/net6.0/runtimes/browser-wasm/nativeassets/net6.0/e_sqlite3.a
bin/Debug/net6.0/runtimes/linux-arm/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-arm64/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-armel/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-mips64/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-musl-arm/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-musl-arm64/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-ppc64le/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-s390x/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-x64/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/linux-x86/native/libe_sqlite3.so
bin/Debug/net6.0/runtimes/maccatalyst-arm64/native/libe_sqlite3.dylib
bin/Debug/net6.0/runtimes/maccatalyst-x64/native/libe_sqlite3.dylib
bin/Debug/net6.0/runtimes/osx-arm64/native/libe_sqlite3.dylib
bin/Debug/net6.0/runtimes/osx-x64/native/libe_sqlite3.dylib
bin/Debug/net6.0/runtimes/win-arm/native/e_sqlite3.dll
bin/Debug/net6.0/runtimes/win-arm64/native/e_sqlite3.dll
bin/Debug/net6.0/runtimes/win-x64/native/e_sqlite3.dll
bin/Debug/net6.0/runtimes/win-x86/native/e_sqlite3.dll
obj/new_projectAPI.csproj.EntityFrameworkCore.targets
obj/new_projectAPI.csproj.nuget.dgspec.json
obj/new_projectAPI.csproj.nuget.g.props
obj/new_projectAPI.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/staticwebassets.pack.sentinel
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/new_projectAPI.AssemblyInfo.cs
obj/Debug/net6.0/new_projectAPI.AssemblyInfoInputs.cache
obj/Debug/net6.0/new_projectAPI.assets.cache
obj/Debug/net6.0/new_projectAPI.csproj.AssemblyReference.cache
obj/Debug/net6.0/new_projectAPI.csproj.CopyComplete
obj/Debug/net6.0/new_projectAPI.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/new_projectAPI.csproj.FileListAbsolute.txt
obj/Debug/net6.0/new_projectAPI.dll
obj/Debug/net6.0/new_projectAPI.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/new_projectAPI.genruntimeconfig.cache
obj/Debug/net6.0/new_projectAPI.GlobalUsings.g.cs
obj/Debug/net6.0/new_projectAPI.MvcApplicationPartsAssemblyInfo.cache
obj/Debug/net6.0/new_projectAPI.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/new_projectAPI.pdb
obj/Debug/net6.0/staticwebassets.build.json
obj/Debug/net6.0/ref/new_projectAPI.dll
obj/Debug/net6.0/refint/new_projectAPI.dll
